fastapi
uvicorn
sqlalchemy
pydantic
jinja2
openai
python-dotenv
requests
gunicorn
python-jose
passlib[bcrypt]
bcrypt==3.2.0
alembic
soniox>=2.2.0
httpx>=0.28.0
edge-tts
langdetect
psycopg2-binary
pydantic-settings
python-multipart
email-validator
uvicorn
gunicorn