@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans)
  }

  :root {
    --background: oklch(0.18 0.04 260);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.2 0.04 260 / 0.3);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.18 0.04 260);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.588 0.158 241.966);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.25 0.04 260 / 0.5);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.25 0.04 260 / 0.3);
    --muted-foreground: oklch(0.707 0.022 261.325);
    --accent: oklch(0.25 0.04 260 / 0.5);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --border: oklch(1 0 0 / 0.1);
    --input: oklch(1 0 0 / 0.1);
    --ring: oklch(0.588 0.158 241.966);
    --radius: 0.75rem;
  }

  * {
    @apply border-border transition-colors duration-300;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}